{{!-- Div Class for Logo --}}
    <div class="container">
    <div class="text-center">
    <img src="/images/logo2.png" class="rounded" alt="logo">
    </div>
    </div>

{{!-- Form Information Email Address and Password --}}
    <div class="container">
    <div class="col-lg-4 col-md-offset-3 item-6">
    <h2>Sign Up</h2>
    <form class="signup">
    <div class="form-group text-white">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email-input" placeholder="Email">
    </div>
    <div class="form-group text-white ">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password-input" placeholder="Password">
    </div>
    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only"> Error:</span> <span class="msg"></span>
    </div>
    <button type="submit" class="btn btn-default">Sign Up</button>
    <p class="text-white">Or Log In <a href="/login">here</a></p>

{{!-- Time Layout  --}}
    <div class="ourtime text-white " id="time">
    </div>
    </form>
    </div>
    </div>


{{!-- Script Date and Time Information --}}
    <script>
      var d = new Date()
      var date = d.toString().split(' ').slice(1, 4).join(' ');
      var hour = d.toLocaleString('en-US', { hour12: true }).split(' ').slice(1).join(' ')
      date + " " + hour
      new Date().toString();
      new Date().toString().split(' ').slice(0, 4).join(' ');
      let myDate = new Date().toString().split(' ').slice(0, 5).join(' ');

      let timeElement = document.getElementById("time");
      timeElement.innerHTML = myDate
    </script>

    