<<<<<<< HEAD

body, html {
  
=======
body, html {
>>>>>>> tia_html
  height: 100%;

  /* The image used */
  background-image: url("./images/home.jpg");

  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  color: red;

}