/* Form Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Body Tag */
body,html {
    color: rgb(36, 36, 36);
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
    background-color:rgb(36, 36, 36);
}

/* Bottom Container */
.bottom-container {
    height: 60vh;
    width: 100pc;
    background-image: linear-gradient(#0277BD, #03A9F4);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Right Container */
.right-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Header Tag */
.header {
    font-weight: 700;
    font-size: 36px;
}

.sub-text {
    font-size: 22px;
    font-weight: 400;
}

/* Month Container */
.month-container {
    padding-top: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Calculation Container */
.calc-container {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Colors Layout */
.fs-white {
    color: white;
}

.fs-dark-grey {
    color: #4e4e4e;
}

/* Budget Container */
.budget-container {
    display: inline-block;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 4px #000000;
}

/* Amount Input Layout */
.month-amount {
    font-size: 36px;
    font-weight: 700;
}

/* Bottom Border Layout */
.bottom-border {
    border-bottom: 1px solid #00446D;
    color: #61ec5e;
}

/* Expense Layouts */
.expense-row {
    padding: 20px;
    font-size: 15pt;   
}
.expense-date {
    color:  rgb(255, 198, 11);
    font-size: large;
}
.expense-text {
    color: rgb(255, 198, 11);
    font-size: large;
}
.expense-list {
    overflow-y: scroll;
    color: rgb(255, 198, 11);
    text-transform: uppercase;
}
/* Expense Size */
.fs-15 {
    font-size: 15px;
}

/* Expense Values with Color Layout */
.expense-value {
    text-align: end;
}
.expense-saving {
    color: #039300;
}
.expense-cost {
    color: #E40000;
}
.expense-investment {
    color: #f48803;
}

/* Expense Chart Layout- Setup */
#expense-chart {
    align-items: center;
    margin: 12% 0;
    margin-top: 12pc;
}
.btn-submit-expense {
    border-radius: 50%;
}
.currency-select {
    margin: 0 4%;
}
.selected-currency {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    margin-top: 1%;
}

/* Chart Container */
.chart-container {
margin-left: 200px;
bottom: 300px;
}
.chart-box {
height: 50%;
width: 100%;
}