
body, html {
  
    height: 100%;
  
    /* The image used */
    background-image: url("./images/moneyhome.jpg");
  
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h2 {
    color: red;
    text-align: center;
  
  }
  .signx {
  float: right;
  
  }

  .row {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;

  }

  .col-md-6 { 
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 150px;
  }