<<<<<<< HEAD
<<<<<<< HEAD

body, html {
  
=======
body, html {
>>>>>>> tia_html
=======

body, html {
  
>>>>>>> ef9a4f6bffbcad4e7bf6cdfffd0ae95aa2536d47
  height: 100%;

  /* The image used */
  background-image: url("./images/home.jpg");

  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  color: red;

}